// Mixins + Variables
@black: black;
@white: white;
@lightGrey: #BBC4CC;
@turquoise: #30D5C8;
@yellow: #FFEF00;
@cyan: #00BCE3;
@lightPurple: #BFB9FA;
@blue: #1F51FF;

@navbarHeight: 65px;

.typography {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
} 

// Typography
.titlePrimary {
  font-size: 48px;
  .typography();
  color: @black;
}
.titleSecondary {
  font-size: 48px;
  .typography();
  color: @white;
}

.subtitlePrimary {
  font-size: 36px;
  .typography();
  color: @black;
}

.subtitleSecondary {
  font-size: 36px;
  .typography();
  color: @white;
}

.textPrimary {
  font-size: 18px;
  .typography();
  color: @black;
}

.textSecondary {
  font-size: 18px;
  .typography();
  color: @white;
}

@textVeryLarge: 32px;
@textLarge: 28px;
@textMedium: 24px;
@textSmall: 14px;
@textVerySmall: 12px;

// Global styles

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.pageContainer {
  width: 100%;
  height: 100%;
  padding-top: @navbarHeight;
  box-sizing: border-box;
}