@import "global";

:root {
    --default-gridItem-size: 25;
    --userInterface-height: 320px;
}

#user-interface {
    width: 100%;
    height: var(--userInterface-height);
    background-color: @turquoise;
    h1 {
        .subtitleSecondary();
    }
    p {
        .textSecondary();
    }
    #menu {
        width: 100%;
        height: calc(100% - 100px);
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-template-rows: 12px 1fr 18px;
        #selection-menu {
            grid-row-start: 2;
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            align-content: flex-start;
            margin: 0;
            p {
                margin: 12px;
            }
            button {
                width: 100%;
                background-color: @turquoise;
                border: none;
                text-align: left;
                &:hover {
                    cursor: pointer;
                }
            }
            button.selected {
                background-color: @white;
                p {
                    color: @turquoise;
                    margin-left: 24px;
                }
            }
            &::-webkit-scrollbar:horizontal {
                display: none;
            }
            &::-webkit-scrollbar {
                width: 12px;
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: @turquoise;
                border: 2px solid transparent;
                border-radius: 9px;
                background-clip: content-box;
            }
        }
        #algorithm-description {
            grid-row-start: 2;
            grid-column-start: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            margin: 0;
            h1 {
                margin: 12px;
            }
            p {
                margin: 12px;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    #legend {
        width: 100%;
        height: 100px;
        background-color: @white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        #selectables {
            display: flex;
            flex-direction: row;
            img {
                width: var(--default-gridItem-size);
                height: var(--default-gridItem-size);
                border: 1px solid @turquoise;
            }
            .selected {
                border: 2px solid @blue;
            }
            .disabled {
                pointer-events: none;
                background-color: rgba(255, 0, 0, 0.4);
                &:hover{
                    cursor: not-allowed;
                }
            }
        }
        #animation-speed-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                color: @turquoise;
                font-size: 14px;
                margin: 3px 0;
            }
            label p {
                font-size: 20px;
                font-weight: bold;
            }            
            #input-range-extremes {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            #animation-speed {
                -webkit-appearance: none;
                width: 100%;
                &::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 6px;
                    background-color: @turquoise;
                    border-radius: 4px;
                }
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 14px;
                    height: 14px;
                    background: @white;
                    border: 1px solid @lilac;
                    border-radius: 50%;
                    margin-top: -4px;
                    cursor: pointer;
                }
            }
        }
        #reset-button-wrapper {
            display: grid;
            grid-template-areas: 
                "text path walls"
                "text weights all"
            ;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 80px 1fr 1fr;
            gap: 3px;
            h2 {
                grid-area: text;
                align-self: center;
                justify-self: center;
                color: @turquoise;
            }
            #reset-path {
                grid-area: path;
            }
            #reset-walls {
                grid-area: walls;
            }
            #reset-weights {
                grid-area: weights;
            }
            #reset-all {
                grid-area: all;
            }
        }
    }
    .buttonPrimary {
        width: 120px;
        height: 40px;
        border: 1px solid @white;
        background-color: @turquoise;
        p {
            .textSecondary();
            margin: auto;
        }
        &:hover {
            cursor: pointer;
            border: 1px solid @turquoise;
            background-color: @white;
            p {
                color: @turquoise;
            }
        }
    }
    .buttonSecondary {
        width: 120px;
        height: 40px;
        border: none;
        background-color: @white;
        p {
            color: @turquoise;
            margin: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

table {
    width: 100%;
    height: calc(100% - var(--userInterface-height));
    border-spacing: 0;
    border-collapse: collapse;
    td {
        width: var(--default-gridItem-size);
        height: var(--default-gridItem-size);
        border: 1px @lightGrey solid;
        padding: 0;
        img {
            width: 75%;
            height: 75%;
            display: block;
            margin: auto;
            pointer-events: none;
        }
    }
    .wall {
        background-color: @black;
    }
    .shrinkAnimation > img{
        animation-name: specialNodePlacementAnimation;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    .path {
        background-color: @yellow;
    }
    .visited {
        animation-name: visitedNode;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes visitedNode {
    0% {
        background-color: @cyan;
        border-radius: 80%;
        border: none;
    }
    60% {
        background-color: @lightPurple;
        border-radius: 40%;
        border: none;
    }
    100% {
        background-color: @turquoise;
        border-radius: 0%;
        border: 1px @lightGrey solid;
    }
}

@keyframes specialNodePlacementAnimation {
    100% {
        width: 40%;
        height: 40%;
    }
}