@import "global";

:root {
    --default-gridItem-size: 25;
}

#user-interface {
    width: 100%;
    background-color: @turquoise;
    h1 {
        .subtitleSecondary();
    }
    p {
        .textSecondary();
    }
    #menu {
        width: 100%;
        height: calc(30% - 100px);
        display: grid;
        grid-template-columns: 280px 1px 1fr;
        grid-template-rows: 12px 1fr 18px;
        .verticalLine {
            grid-row-start: 2;
            grid-column-start: 2;
            background-color: @white;
            border: 1px solid @white;
        }
        #selection-menu {
            grid-row-start: 2;
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            align-content: flex-start;
            margin: 0;
            p {
                margin: 12px;
                &:hover {
                    cursor: pointer;
                }
            }
            button {
                width: 100%;
                background-color: @turquoise;
                border: none;
                text-align: left;
            }
            button.selected {
                background-color: @white;
                p {
                    color: @turquoise;
                    margin-left: 24px;
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; 
            scrollbar-width: none; 
        }
        #algorithm-description.noSelection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                margin: 0;
            }
            p {
                margin: 0;
            }
        }
        #algorithm-description {
            grid-row-start: 2;
            grid-column-start: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            margin: 0;
            h1 {
                margin: 12px;
            }
            p {
                margin: 12px;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    #legend {
        width: 100%;
        height: 100px;
        background-color: @white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        #selectables {
            display: flex;
            flex-direction: row;
            img {
                width: var(--default-gridItem-size);
                height: var(--default-gridItem-size);
                border: 1px solid @turquoise;
            }
            .selected {
                border: 2px solid @blue;
            }
            .disabled {
                pointer-events: none;
                background-color: rgba(255, 0, 0, 0.4);
                &:hover{
                    cursor: not-allowed;
                }
            }
        }
    }
    .buttonPrimary {
        width: 120px;
        height: 40px;
        border: 2px solid @white;
        background-color: @turquoise;
        p {
            .textSecondary();
            margin: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .buttonSecondary {
        width: 120px;
        height: 40px;
        border: none;
        background-color: @white;
        p {
            color: @turquoise;
            margin: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

table {
    width: 100%;
    height: 70%;
    border-spacing: 0;
    border-collapse: collapse;
    td {
        width: var(--default-gridItem-size);
        height: var(--default-gridItem-size);
        border: 1px @lightGrey solid;
        padding: 0;
        img {
            width: 75%;
            height: 75%;
            display: block;
            margin: auto;
            pointer-events: none;
        }
    }
    .wall {
        background-color: @black;
    }
    .shrinkAnimation > img{
        animation-name: specialNodePlacementAnimation;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    .path {
        background-color: @yellow;
    }
    .visited {
        animation-name: visitedNode;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes visitedNode {
    0% {
        background-color: @cyan;
        border-radius: 80%;
        border: none;
    }
    60% {
        background-color: @lightPurple;
        border-radius: 40%;
        border: none;
    }
    100% {
        background-color: @turquoise;
        border-radius: 0%;
        border: 1px @lightGrey solid;
    }
}

@keyframes specialNodePlacementAnimation {
    100% {
        width: 40%;
        height: 40%;
    }
}