.typography {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.titlePrimary {
  font-size: 48px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
}
.titleSecondary {
  font-size: 48px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}
.subtitlePrimary {
  font-size: 36px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
}
.subtitleSecondary {
  font-size: 36px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}
.textPrimary {
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
}
.textSecondary {
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.pageContainer {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  box-sizing: border-box;
}
:root {
  --default-gridItem-size: 25;
}
#user-interface {
  width: 100%;
  background-color: #30D5C8;
}
#user-interface h1 {
  font-size: 36px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}
#user-interface p {
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}
#user-interface #menu {
  width: 100%;
  height: calc(30% - 100px);
  display: grid;
  grid-template-columns: 280px 1px 1fr;
  grid-template-rows: 12px 1fr 18px;
}
#user-interface #menu .verticalLine {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: white;
  border: 1px solid white;
}
#user-interface #menu #selection-menu {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-content: flex-start;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#user-interface #menu #selection-menu p {
  margin: 12px;
}
#user-interface #menu #selection-menu p:hover {
  cursor: pointer;
}
#user-interface #menu #selection-menu button {
  width: 100%;
  background-color: #30D5C8;
  border: none;
  text-align: left;
}
#user-interface #menu #selection-menu button.selected {
  background-color: white;
}
#user-interface #menu #selection-menu button.selected p {
  color: #30D5C8;
  margin-left: 24px;
}
#user-interface #menu #selection-menu::-webkit-scrollbar {
  display: none;
}
#user-interface #menu #algorithm-description.noSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#user-interface #menu #algorithm-description.noSelection h1 {
  margin: 0;
}
#user-interface #menu #algorithm-description.noSelection p {
  margin: 0;
}
#user-interface #menu #algorithm-description {
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
}
#user-interface #menu #algorithm-description h1 {
  margin: 12px;
}
#user-interface #menu #algorithm-description p {
  margin: 12px;
}
#user-interface #menu #algorithm-description button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-interface #legend {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#user-interface #legend #selectables {
  display: flex;
  flex-direction: row;
}
#user-interface #legend #selectables img {
  width: var(--default-gridItem-size);
  height: var(--default-gridItem-size);
  border: 1px solid #30D5C8;
}
#user-interface #legend #selectables .selected {
  border: 2px solid #1F51FF;
}
#user-interface #legend #selectables .disabled {
  pointer-events: none;
  background-color: rgba(255, 0, 0, 0.4);
}
#user-interface #legend #selectables .disabled:hover {
  cursor: not-allowed;
}
#user-interface .buttonPrimary {
  width: 120px;
  height: 40px;
  border: 2px solid white;
  background-color: #30D5C8;
}
#user-interface .buttonPrimary p {
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
  margin: auto;
}
#user-interface .buttonPrimary:hover {
  cursor: pointer;
}
#user-interface .buttonSecondary {
  width: 120px;
  height: 40px;
  border: none;
  background-color: white;
}
#user-interface .buttonSecondary p {
  color: #30D5C8;
  margin: auto;
}
#user-interface .buttonSecondary:hover {
  cursor: pointer;
}
table {
  width: 100%;
  height: 70%;
  border-spacing: 0;
  border-collapse: collapse;
}
table td {
  width: var(--default-gridItem-size);
  height: var(--default-gridItem-size);
  border: 1px #BBC4CC solid;
  padding: 0;
}
table td img {
  width: 75%;
  height: 75%;
  display: block;
  margin: auto;
  pointer-events: none;
}
table .wall {
  background-color: black;
}
table .shrinkAnimation > img {
  animation-name: specialNodePlacementAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
table .path {
  background-color: #FFEF00;
}
table .visited {
  animation-name: visitedNode;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes visitedNode {
  0% {
    background-color: #00BCE3;
    border-radius: 80%;
    border: none;
  }
  60% {
    background-color: #BFB9FA;
    border-radius: 40%;
    border: none;
  }
  100% {
    background-color: #30D5C8;
    border-radius: 0%;
    border: 1px #BBC4CC solid;
  }
}
@keyframes specialNodePlacementAnimation {
  100% {
    width: 40%;
    height: 40%;
  }
}
