@import "global";

:root {
    --default-gridItem-size: 25;
}

#user-interface {
    width: 100%;
    background-color: @turquoise;
    h1 {
        .subtitleSecondary();
    }
    p {
        .textSecondary();
    }
    #menu {
        width: 100%;
        height: calc(30% - 100px);
    }
    .algorithmSelection {
        display: flex;
        flex-direction: column;
        align-items: center;
        #selection-menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            margin: 0;
            h1 {
                text-align: center;
                margin: 6px 0 12px 0;
            }
            p {
                margin: 12px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .algorithmFeature {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0;
        h1 {
            margin: 12px;
        }
        p {
            margin: 12px;
        }
    }
    #legend {
        width: 100%;
        height: 100px;
        background-color: @white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            .textPrimary();
            img {
                width: 20px;
                height: 20px;
                margin-left: 12px;
            }
        }
    }
    .buttonPrimary {
        width: 120px;
        height: 40px;
        border: 2px solid @white;
        background-color: @turquoise;
        p {
            .textSecondary();
            margin: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .buttonSecondary {
        width: 120px;
        height: 40px;
        border: none;
        background-color: @white;
        p {
            color: @turquoise;
            margin: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

table {
    width: 100%;
    height: 70%;
    border-spacing: 0;
    border-collapse: collapse;
    td {
        width: var(--default-gridItem-size);
        height: var(--default-gridItem-size);
        border: 1px @lightGrey solid;
        padding: 0;
    }
    .wall {
        background-color: @black;
    }
    #source-node, #target-node {

        img {
            width: 90%;
            height: 90%;
            display: block;
            margin: auto;
            pointer-events: none;
        }
    }
    .shrinkAnimation > img{
        animation-name: specialNodePlacementAnimation;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    .path {
        background-color: @yellow;
    }
    .visited {
        animation-name: visitedNode;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes visitedNode {
    0% {
        background-color: @cyan;
        border-radius: 80%;
        border: none;
    }
    60% {
        background-color: @lightPurple;
        border-radius: 40%;
        border: none;
    }
    100% {
        background-color: @turquoise;
        border-radius: 0%;
        border: 1px @lightGrey solid;
    }
}

@keyframes specialNodePlacementAnimation {
    100% {
        width: 40%;
        height: 40%;
    }
}