.typography {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.pageContainer {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  box-sizing: border-box;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
}
.modal .modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}
.modal .closeButton {
  float: right;
  margin: 0 6px 0 auto;
  cursor: pointer;
}
.modal.showModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.hidden {
  display: none;
}
.errorMessage {
  font-size: 12px !important;
  color: #ee4b2b !important;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
.shakingAnimation {
  animation-name: horizontal-shaking;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
a {
  text-decoration: none;
}
#navbar-location-dsaav {
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
}
#navbar-location-dsaav #navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}
#navbar-location-dsaav #navbar #visualization-tool-home {
  margin: 0 auto 0 15px;
}
#navbar-location-dsaav #navbar #visualization-tool-home h1 {
  font-size: 36px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
}
#navbar-location-dsaav #navbar #visualization-tool-home:hover {
  cursor: pointer;
}
#navbar-location-dsaav #navbar .navbarButton {
  width: 180px;
  height: 100%;
  text-align: center;
  background-color: white;
  border: none;
}
#navbar-location-dsaav #navbar .navbarButton p {
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: black;
  margin: auto;
}
#navbar-location-dsaav #navbar .navbarButton:hover {
  background-color: #bbc4cc;
  cursor: pointer;
}
